@model E_TICKET.Models.TrainSearchResult


<!DOCTYPE html>
<style>
    .heading {
        margin: auto;
        width: 90%;
        border: 3px solid ghostwhite;
        padding: 10px;
        background-color: #c1c1d7;
        border-radius: 10px 20px 30px 40px/30px;
    }

    .frm {
        margin: auto;
        width: 80%;
        border: 6px solid gray;
        padding: 10px;
        background-color: #b1b1cd;
        border-top-left-radius: 15px;
    }

    .tbl {
        margin: auto;
        width: 90%;
        border: 3px solid ghostwhite;
        padding: 10px;
        background-color: #8383af;
        border-radius: 15px 15px 0 0;
    }

    ;
    table tr:not(:first-child) {
        cursor: pointer;
        transition: all .25s ease-in-out;
    }

    table tr:not(:first-child):hover {
        background-color: #ddd;
    }
    .st_no{
        background-color:orangered;
    }
</style>

<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="heading">
        <h1>Search Result</h1>
        <p>Select your ticket and then submit for next step</p>
    </div>
    <div class="frm">
        <form id="#" method="post">
            <Label>Train No:</Label>
            <input type="text" name="Train_No" id="Train_No">

            <Label>Seat No:</Label>
            <input type="text" name="Seat_No" id="Seat_No">

            <Label>Train Name:</Label>
            <input type="text" name="Train_Name" id="Train_Name"><br><br>

            <Label>Departure Station:</Label>
            <input type="text" name="Departure_Station" id="Departure_Station">

            <Label>Arrival Station:</Label>
            <input type="text" name="Arrival_Station" id="Arrival_Station"><br><br>

            <Label>Departure Time:</Label>
            <input type="text" name="Departure_time" id="Departure_time">

            <Label>Arrival Time:</Label>
            <input type="text" name="Arrival_Time" id="Arrival_Time">

            <Label>Coach Fare:</Label>
            <input type="text" name="Coach_fare" id="Coach_fare"><br><br>

            <Label>Class:</Label>
            <input type="text" name="Class" id="Class">

            <Label>Coach_Name:</Label>
            <input type="text" name="Coach_Name" id="Coach_Name"><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="tbl">
        <h3>Select Your Ticket:</h3>
        <table id="table" border="1">
            <tr>
                <th>Train No</th>
                <th class="st_no">Seat No</th>
                <th>Train Name</th>
                <th class="st_no">Departure Station</th>
                <th>Arrival Station</th>
                <th class="st_no">Departure Time</th>
                <th>Arrival Time</th>
                <th class="st_no">Fare</th>
                <th>Class</th>
                <th class="st_no">Coach_Name</th>

            </tr>
            @foreach (var item in TempData["tsr"] as List<E_TICKET.Models.TrainSearchResult>)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Train_No)</td>
                <td class="st_no">@Html.DisplayFor(modelItem => item.Seat_No)</td>
                <td>@Html.DisplayFor(modelItem => item.Train_Name)</td>
                <td class="st_no">@Html.DisplayFor(modelItem => item.Departure_Station)</td>
                <td>@Html.DisplayFor(modelItem => item.Arrival_Station)</td>
                <td class="st_no">@Html.DisplayFor(modelItem => item.Departure_time)</td>
                <td>@Html.DisplayFor(modelItem => item.Arrival_Time)</td>
                <td class="st_no">@Html.DisplayFor(modelItem => item.Coach_fare)</td>
                <td>@Html.DisplayFor(modelItem => item.Class)</td>
                <td class="st_no">@Html.DisplayFor(modelItem => item.Coach_Name)</td>
            </tr>
            }
        </table>

    </div>
    <script>
        var table = document.getElementById('table');
        for(var i=1;i<table.rows.length;i++)
        {
            table.rows[i].onclick=function(){
                document.getElementById("Train_No").value = this.cells[0].innerHTML;
                document.getElementById("Seat_No").value = this.cells[1].innerHTML
                document.getElementById("Train_Name").value=this.cells[2].innerHTML;
                document.getElementById("Departure_Station").value=this.cells[3].innerHTML;
                document.getElementById("Arrival_Station").value=this.cells[4].innerHTML;
                document.getElementById("Departure_time").value=this.cells[5].innerHTML;
                document.getElementById("Arrival_Time").value=this.cells[6].innerHTML;
                document.getElementById("Coach_fare").value=this.cells[7].innerHTML;
                document.getElementById("Class").value=this.cells[8].innerHTML;
                document.getElementById("Coach_Name").value=this.cells[9].innerHTML;
            };
        }
    </script>
</body>
</html>

